body {
  background: url(../images/Contact.jpg);
  background-position: 30% bottom;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

main::after {
  content: '';
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(97, 123, 90, .2);
  z-index: -1;
}

main {
  min-height: 100vh;
  width: 100%;
  display: grid;
  -ms-flex-line-pack: center;
      align-content: center;
  justify-items: center;
}

main > h1 {
  background-color: white;
  padding: 5px;
  margin-top: 40px;
  border-radius: 5px;
}

iframe {
  width: 100%;
  height: 300px;
}

main > .content-wrapper {
  width: 100%;
  max-width: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

.contact-info,
.form-elements {
  background-color: white;
  margin: 20px;
  padding: 20px;
}

.contact-info {
  display: grid;
  grid-gap: 10px;
}

section > form {
  display: grid;
  grid-gap: 15px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.form-input {
  width: 100%;
  height: 25px;
  border-radius: 3px;
  border: 1px solid #b1cbee;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 5px;
  background: #BCC7B9;
}

.form-input:focus{
  border: solid 1px #4470ad;
}

#message {
  height: 150px;
}

.btn {
  height: 40px;
  width: 200px;
  justify-self: center;
}

.btn > input {
  height: 100%;
  width: 100%;
}

@media screen and (min-width: 899px) {
  main > .content-wrapper {
    background-color: white;
    padding: 50px;
    display: grid;
    grid-template-columns: 1fr 1.25fr;
    grid-gap: 20px;
    justify-items: center;
    border-radius: 5px;
    max-width: 795px;
  }

  .form-input  {
    width: 115%;
  }

  main > h1 {
    margin-bottom: 15px;
  }

  .contact-info,
  .form-elements {
    background-color: white;
    margin: 0px;
    padding: 0px;
  }
}